<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothes App</title>
  </head>
  <body>
    <a href="/clothes/new"> Add New clothe</a>
    <a href="/clothes">All Clothes</a>
    <h1>Welcome to Clothes App</h1>
    <p>An app for collecting your favorite clothes.</p>
  </body>
</html>
