<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/clothes">All Clothes</a>
    <h1>Create a new Clothe</h1>
    <form action="/clothes" method="post">
      <label for="name">type:</label>
      <input type="text" name="name" id="name" />
      <br />
      <br />
      <label for="available">available?</label>
      <input type="checkbox" name="available" id="available" />
      <br />
      <br />
      <button type="submit">Add Clothes</button>
    </form>
  </body>
</html>