<!-- views/fruits/new.ejs -->

<body>
    <h1>add a New clothes!</h1>
    <form action="/clothes" method="POST">
      <label for="type">Type:</label>
      <input type="text" name="type" id="type" />
  
      <label for="available">is it available?</label>
      <input type="checkbox" name="available" id="available" />
  
      <button type="submit">Add Fruit</button>
    </form>
  </body>